@page
@model Profile
@{
    ViewData["Title"] = "Profile";
}
<h1 class="text-center">Your Profile</h1>
<br>

<form method="post">
    <div class="form-group">
        <label for="FirstName">First Name</label>
        <input type="text" id="FirstName" name="FirstName" class="form-control" value="@Model.FirstName" />
    </div>

    <div class="form-group">
        <label for="City">City</label>
        <input type="text" id="City" name="City" class="form-control" value="@Model.City" />
    </div>

    <button type="submit" class="btn btn-primary mt-2">Update</button>
</form>

<hr>

<div class="card mx-auto mt-4" style="width: 18rem;">
    <div class="card-body">
        <h4 class="card-title text-center">Confirmed Details</h4>
        <br>
        <h5>FirstName: @Model.FirstName</h5>
        <h5>Gender: @ViewData["Gender"]</h5>
        <h5>City: @Model.City</h5>
        <h5>Age: @ViewData["Age"]</h5>
        <br>
        <a href="#" class="btn btn-secondary">See More</a>
    </div>
</div>
